
<div class="sjena">
  <div></div>
  <div class="gradovi">
    <mat-form-field appearance="fill">
      <mat-label>Početna destinacija</mat-label>
      <mat-select [(value)]="pocetna">
        <mat-option value="Banja Luka">Banja Luka</mat-option>
        <mat-option value="Bihać">Bihać</mat-option>
        <mat-option value="Bijeljina">Bijeljina</mat-option>
        <mat-option value="Cazin">Cazin</mat-option>
        <mat-option value="Čapljina">Čapljina</mat-option>
        <mat-option value="Doboj">Doboj</mat-option>
        <mat-option value="Goražde">Goražde</mat-option>
        <mat-option value="Gračanica">Gračanica</mat-option>
        <mat-option value="Gradačac">Gradačac</mat-option>
        <mat-option value="Gradiška">Gradiška</mat-option>
        <mat-option value="Istočno Sarajevo">Istočno Sarajevo</mat-option>
        <mat-option value="Livno">Livno</mat-option>
        <mat-option value="Ljubuški">Ljubuški</mat-option>
        <mat-option value="Mostar">Mostar</mat-option>
        <mat-option value="Prijedor">Prijedor</mat-option>
        <mat-option value="Sarajevo">Sarajevo</mat-option>
        <mat-option value="Srebrenik">Srebrenik</mat-option>
        <mat-option value="Široki Brijeg">Široki Brijeg</mat-option>
        <mat-option value="Trebinje">Trebinje</mat-option>
        <mat-option value="Tuzla">Tuzla</mat-option>
        <mat-option value="Visoko">Visoko</mat-option>
        <mat-option value="Zenica">Zenica</mat-option>
        <mat-option value="Zvornik">Zvornik</mat-option>
        <mat-option value="Živinice">Živinice</mat-option>
      </mat-select>
    </mat-form-field>
    
    
    <mat-form-field appearance="fill">
      <mat-label>Kranja destinacija</mat-label>
      <mat-select [(value)]="krajnja">
        <mat-option value="Banja Luka">Banja Luka</mat-option>
        <mat-option value="Bihać">Bihać</mat-option>
        <mat-option value="Bijeljina">Bijeljina</mat-option>
        <mat-option value="Cazin">Cazin</mat-option>
        <mat-option value="Čapljina">Čapljina</mat-option>
        <mat-option value="Doboj">Doboj</mat-option>
        <mat-option value="Goražde">Goražde</mat-option>
        <mat-option value="Gračanica">Gračanica</mat-option>
        <mat-option value="Gradačac">Gradačac</mat-option>
        <mat-option value="Gradiška">Gradiška</mat-option>
        <mat-option value="Istočno Sarajevo">Istočno Sarajevo</mat-option>
        <mat-option value="Livno">Livno</mat-option>
        <mat-option value="Ljubuški">Ljubuški</mat-option>
        <mat-option value="Mostar">Mostar</mat-option>
        <mat-option value="Prijedor">Prijedor</mat-option>
        <mat-option value="Sarajevo">Sarajevo</mat-option>
        <mat-option value="Srebrenik">Srebrenik</mat-option>
        <mat-option value="Široki Brijeg">Široki Brijeg</mat-option>
        <mat-option value="Trebinje">Trebinje</mat-option>
        <mat-option value="Tuzla">Tuzla</mat-option>
        <mat-option value="Visoko">Visoko</mat-option>
        <mat-option value="Zenica">Zenica</mat-option>
        <mat-option value="Zvornik">Zvornik</mat-option>
        <mat-option value="Živinice">Živinice</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div></div>
  <div></div>
  <div class="pretrazi">
    <button mat-raised-button routerLink="/mapa" (click)="sendMessage()">Search</button>
  </div>
  <div></div>

</div>






